table{
    margin: auto;
    border-style: ridge;
    border-width: 5px;
    border-color: #d5d9d8;
    border-collapse: collapse;
}

td table{
    background-color: yellow;
    border-collapse: collapse;
}

form{
    text-align: center;
}

form table:first-child{
    width: 60%;
    background-color: #d5d9d8;
}

tr th[colspan="2"]{
    background-color: #0080ff;
    text-align: center;
    font-weight: 700;
}

caption{
    background-color: #eebb75;
    font-size: 1.5em;
    color:blue;
}

tr td:nth-last-child(2){
    width: 30%;
    font-weight: 700;
}

td, th {
    border-style: ridge;
    border-width: 5px;
    border-color: #d5d9d8;
}

select{
    overflow-y: auto;
}

optgroup[label]{
    font-weight: normal;
    font-style: normal;
}