table{
    border-collapse: collapse;
}

th, td{
    border-style: solid;
    border-width: 1px;
}

td:first-child{
    background-color: green;
}

th[colspan="5"]{
    background-color: yellow;
}

tr:first-child th::first-letter{
    font-size: 2em;
}

a{
    color:green;
}