a{
    color:green;
}

a:visited{
    color:red;
}

label::after{
    content:"*";
    color: red;
}

table{
    border-collapse: collapse;
}

td:first-child{
    background-color: green;
}

th, td{
    border-style: solid;
    border-width: 1px;
}

th[colspan="5"]{
    background-color: yellow;
}

tr:first-child th::first-letter{
    font-size: 2em;
}

tr > td:last-child:hover, tr > th:last-child:hover{
    font-size: 2em;
}