/PRO/UT5/Algo/Examen_UT5_AFR/nbproject/private/
/PRO/UT6/Examen_UT6/nbproject/private/
/PRO/UT6/Examen_UT6/build/
/PRO/UT6/Examen_UT6/dist/
/PRO/UT7/Examen_UT7_AFR/nbproject/private/
/PRO/UT7/Examen_UT7_AFR/build/
