/*tr {
    border: 1px solid;
}*/


th.horario {
    border-width: 0px 2px 2px 0px;
    border-style: solid;
}

th {
    border-width: 0px 1px 2px 1px;
    border-style: solid;
}

/*fol {
    background-color:red;
    background-clip:padding-box;
}*/

td.fol {
    background-color:red;
    border: 1px solid;
}

td.pro {
    background-color:cyan;
    border: 1px solid;
}

td.bae {
    background-color:greenyellow;
    border: 1px solid;
}

td.ets {
    background-color: violet;
    border: 1px solid;
}

td.ssf {
    background-color: yellow;
    border: 1px solid;
}

td.lnt {
    background-color: lightgreen;
    border: 1px solid;
}

td.lnd {
    background-color: lightskyblue;
    border: 1px solid;
}

td.horario {
    border-width: 0px 2px 0px 0px;
    border-style: solid;
}

table {
    text-align: center;
    border-collapse: collapse;
    
    border-width: 0px 3px 3px 0px;
    border-style: solid;
}